body, html 
    font-size: 14px
    padding: 0
    margin: 0 auto

    
/* styling whole display */
.game
    width: 100vw
    display: flex
    flex-direction: column
    flex-wrap: wrap
    align-content: center
    justify-content: center
    margin-top: 5vh

.game-board
    width: 90vw

.board-div 
    width: 90vw

.board-row:after
    clear: both
    content: ""
    display: table

.status
    margin-bottom: 10px

.square 
    box-sizing: border-box
    background-color: #fff
    border: 1px solid #999999
    float: left
    font-size: 24px
    font-weight: bold
    line-height: 34px
    padding: 0
    text-align: center
    width: (90vw / 3)
    min-height: 100px

.square:focus 
    outline: none

.kbd-navigation .square:focus 
    background: #ddd

.game-info
    text-align: center
    padding: 2rem

ul 
    margin-left: 0
    padding-left: 0

li 
    list-style-type: none
    margin-bottom: .85rem

@media only screen and (min-height: 1000px)
    .game
        margin-top: 10vh
    .game-board
        width: 70vw
    .square
        width: (70vw / 3)

    .board-div 
        width: 70vw


@media only screen and (min-width: 750px) and (max-height: 600px)
    .game
        flex-direction: row
    .game-board
        width: 45vw
    .board-div
        width: 45vw
    .square 
        width: (45vw / 3)
    .game-info
        width: 45vw